
*{
    padding: 0;
    margin: 0;
}
input{
    width: 450px;
    height: 29px;
    padding: 2px;
    padding-left: 10px;
}

#items_container{
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
    overflow-x: auto;
}

#items_container div{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


#navbar{
    display: flex;
    background-color: #2874f0;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.color{
    display: flex;
    color: aliceblue;
    font-size: 20px;
    justify-content: center;
    padding: 5px;

    
}
.nav{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}
.color> img{
    width: 80px;
    height: 20px;

}

.color> button{
    padding: 5px 40px;
    background-color: white;
    border: none;
    font-size: 16px;
    color: #2874f0;
}
#flipkartLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 0px;
}

#flipkartLogo a{
    text-decoration: none;
}

#plus{
    color: gold;
    margin: 0px 4px;
    font-size: 10px;
}

#explore{
    color: white;
    font-size: 10px;
}
.Seller{
    white-space: nowrap;
}
.imgsize{
    width: 65px;
    padding: 5px;
}
#itemscon2{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
}
#itemscon2 div{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 20px;
    width: 90px;
}
h5{
    color: rgb(78, 72, 72);
}
p{
    color: #717171;
    font-size: 12px;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
  }

  .mySlides {
    display: none;
  }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }

      .next{
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }

      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }

      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }
      

      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
    